<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hlova/FinalTask">
        <classes>
            <class name="tests.AddingToCartTest">
                <methods>
                    <include name="checkTitleOfNewWindow"/>
                    <include name="checkPaperTextAndQuantityNum"/>
                    <include name="checkTotalPrice"/>
                </methods>
            </class>
            <class name="tests.CheckCategoriesTest">
                <methods>
                    <include name="areMenAndWomenCategoryDisplayed"/>
                    <include name="areStationeryAndHomeAccessoriesDisplayed"/>
                    <include name="areAnyLinksIsDisplayed"/>
                </methods>
            </class>
            <class name="tests.CheckPopularProductsTest">
                <methods>
                    <include name="getNumberOfProducts"/>
                    <include name="getNamesOFProducts"/>
                    <include name="getPriceOFProducts"/>
                    <include name="isPriceMoreThanZero"/>
                </methods>
            </class>
            <class name="tests.CheckoutEndToEndTest">
                <methods>
                    <include name="getConfirmOfOrder"/>
                </methods>
            </class>
            <class name="tests.PricesDropCheckTest">
                <methods>
                    <include name="haveProductsPrices"/>
                    <include name="checkDiscount"/>
                </methods>
            </class>
            <class name="tests.RegistrationWithInvalidDataTest">
                <methods>
                    <include name="checkColorOfFirstNameField"/>
                    <include name="isErrorMessageIsDisplayed"/>
                </methods>
            </class>
            <class name="tests.RegistrationWithValidDataTest">
                <methods>
                    <include name="checkNameOfNewUser"/>
                </methods>
            </class>
            <class name="tests.SortingToCheckTest">
                <methods>
                    <include name="areProductsSorted"/>
                </methods>
            </class>
            <class name="tests.SubscribeWithInvalidEmailTest">
                <methods>
                    <include name="checkErrorMessage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>